
form{
    padding: 15 px;
    background: #f8f9fa;
    border-radius: 8px;
    margin-bottom: 20px; 
}

textarea{
    display: block;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.add-task-container{
    align-items: center;
    justify-content: center;
}
.add-task-container__form{
    color: lightcyan;
}